header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    margin-top: 10px;
    transform: rotate(0deg);
    transition-duration: 2s;
}

.spin {
    transform: rotate(360deg);
    transition-duration: 2s;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

.project {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}

.collapser {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
}

.collapser:hover {
    background-color: #ccc;
}

.rotate {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.regular {
    transition-duration: 0.5s;
}

.projectgroup {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}